body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carousel-item img {
    height: 400px; /* Sesuaikan ukuran gambar */
    object-fit: cover;
}

.harga .diskon {
    color: #e91e63;
}
